useDynLib(Familias)
import(kinship2)
import(Rsolnp)
importFrom("graphics", "plot")
importFrom("stats", "uniroot")
export(FamiliasLocus)
export(FamiliasPedigree)
export(FamiliasPrior)
export(FamiliasPosterior)
S3method(plot, FamiliasPedigree)
